#name: automation_with_emulator - 2
## on push we will trigger our code
#on:
#    workflow_dispatch:
#    push:
#jobs:
#  build:
#    runs-on: macos-13
#    steps:
#      - uses: actions/checkout@v3 #checkout the code
#      - name: Set up JDK 17
#        uses: actions/setup-java@v3
#        with:
#          java-version: 17
#          distribution: 'oracle'
#
#      - name: Set up Node JS 18.16.1
#        uses: actions/setup-node@v3
#        with:
#          node-version: '18.16.1'
#
#      - name: Install appium
#        run: npm install -g appium
#
#      - name: Check appium installation
#        run: appium -v
#
#      - name: Install appium automator
#        run: appium driver install uiautomator2
#
#      - name: Update  appium automator
#        run: appium driver update uiautomator2
#
#      - name: Start appium
#        run: appium server --address 127.0.0.1 --port 4723 --use-drivers uiautomator2 --base-path /wd/hub --allow-insecure adb_shell &
#
#      - name: Wait for Appium to start
#        run: sleep 60 # Adjust the time as needed
#
#      - name: Print Appium status
#        run: curl http://127.0.0.1:4723/wd/hub/status
#
##      - name: Enable KVM group perms
##        run: |
##            echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
##            sudo udevadm control --reload-rules
##            sudo udevadm trigger --name-match=kvm
#
#      - name: Set up Android SDK
#        uses: android-actions/setup-android@v2
#
#      - name: Restart ADB server
#        run: |
#          adb kill-server
#          adb start-server
#          adb devices
#        continue-on-error: true
#
#      - name: Run Ui Tests
#        uses: reactivecircus/android-emulator-runner@v2 # install and create the Emulator
#        with:
#          api-level: 33
#          target: google_apis
#          arch: x86_64
#          avd-name: Pixel_6_API_33
#          disable-animations: true
#          emulator-options: -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
#          script: |
#            sleep 180 && mvn verify --file pom.xml -Dappium.hub=http://127.0.0.1:4723/wd/hub -Dwebdriver.driver=appium -Dappium.platformName=Android -Dappium.deviceName="Pixel_6_API_33_1" -Dcucumber.filter.tags='@automated and @ANDROID and @US_COSD'
#
#      - name: Produce report
#        run: mvn serenity:aggregate
#
#      - name: Upload screenshots
#        uses: actions/upload-artifact@v2
#        with:
#          name: test-screenshots
#          path: artifacts/screenshots
#
#      - name: Upload report
#        uses: actions/upload-artifact@v2
#        with:
#          name: report
#          path: target/site


name: automation_with_emulator - 2

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3 # Checkout the code

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'oracle'

      - name: Set up Node JS 18.16.1
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.1'

      - name: Install Appium
        run: npm install -g appium

      - name: Check Appium installation
        run: appium -v

      - name: Install Appium Automator
        run: appium driver install uiautomator2

      - name: Update Appium Automator
        run: appium driver update uiautomator2

      - name: Start Appium
        run: appium server --address 127.0.0.1 --port 4723 --use-drivers uiautomator2 --base-path /wd/hub --allow-insecure adb_shell &

      - name: Wait for Appium to start
        run: sleep 60 # Adjust the time as needed

      - name: Print Appium status
        run: curl http://127.0.0.1:4723/wd/hub/status

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: '30.0.3'

      - name: Restart ADB server
        run: |
          adb kill-server
          adb start-server
          adb devices
        continue-on-error: true

      - name: Run UI Tests
        uses: reactivecircus/android-emulator-runner@v2 # Install and create the Emulator
        with:
          api-level: 33
          target: google_apis
          arch: x86_64
          avd-name: Pixel_6_API_33
          #headless: true # This line is marked as error
          disable-animations: true
          emulator-boot-timeout: 600  # Increased timeout to 600 seconds (10 minutes)
          emulator-options: -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
          script: |
            adb wait-for-device
            adb shell getprop sys.boot_completed | grep -m 1 '1'
            sleep 180
            mvn verify --file pom.xml -Dappium.hub=http://127.0.0.1:4723/wd/hub -Dwebdriver.driver=appium -Dappium.platformName=Android -Dappium.deviceName="Pixel_6_API_33_1" -Dappium.androidInstallTimeout=180000 -Dcucumber.filter.tags='@automated and @ANDROID and @US_COSD'

      - name: Produce report
        run: mvn serenity:aggregate

      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        with:
          name: test-screenshots
          path: artifacts/screenshots

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: target/site

