name: Automation with Browserstack - Standard

on:
  push:
    branches: 
      - workflow_browserstack
  workflow_dispatch:
    inputs:
      branch-to-checkout:
        description: 'Branch to checkout'
        type: choice
        options:
          - main
          - develop
          - workflow_browserstack
        default: develop

      test-cases:
        description: 'Choose Test Cases'
        type: string
        default: "@automated and @ANDROID and @US_VP_TC_01"

  # schedule:
  #   # WED,SAT 03:15 UTC
  #   - cron: '15 3 * * 3,6'

jobs:
  build:
    runs-on: macos-13-large
    timeout-minutes: 240 # increase IF needed

    steps:
      - uses: actions/checkout@v4 # Checkout the code
        with:
          clean: true
          lfs: true
          ref: ${{ inputs.branch-to-checkout || 'main' }}
          
      # - name: Download APK
      #   uses: actions/checkout@v4
      #   with:
      #     repository: owner/repo-apk # Replace with the actual
      #     path: app-source
      #     ref: <branch-or-tag> # Specify the branch

      # - name: Setup Git LFS
      #   run: |
      #     git lfs install
      #     git lfs pull

      # - name: Verify APK file
      #   run: |
      #     ls -lh src/test/resources/app/
      #     head -n 5 src/test/resources/app/androidApp.apk
      #     file src/test/resources/app/androidApp.apk

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'oracle'

      - name: Set up Node JS 16.20.2
        uses: actions/setup-node@v4
        with:
          node-version: '16.20.2'


      # - name: Upload app to BrowserStack
      #   id: upload_app
      #   run: |
      #       response=$(curl -u "$BROWSERSTACK_USERNAME:$BROWSERSTACK_ACCESS_KEY" \
      #         -X POST "https://api-cloud.browserstack.com/app-automate/upload" \
      #         -F "file=@./path/to/your/app.apk")
      #       echo "Response: $response"
      #       app_url=$(echo $response | jq -r '.app_url')
      #       echo "App URL: $app_url"
      #       echo "app_url=$app_url" >> $GITHUB_OUTPUT
  
      - name: Check BrowserStack Credentials
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        run: |
          response=$(curl -u "${BROWSERSTACK_USERNAME}:${BROWSERSTACK_ACCESS_KEY}" https://api.browserstack.com/automate/plan.json)
          echo "BrowserStack Response: $response"
      
      # - name: Run Selenium Appium tests on BrowserStack
      #   env:
      #       BROWSERSTACK_APP_URL: ${{ steps.upload_app.outputs.app_url }}
      #       BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      #       BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      #   run: |
      #       echo "Starting tests with app URL: $BROWSERSTACK_APP_URL"
      #       npm test



      # - name: Compress Logcat Output
      #   if: always()
      #   run: zip logcat_output.zip logcat_output.txt

      # - name: Upload Logcat Output
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: logcat-output
      #     path: logcat_output.zip

      # - name: Produce Serenity report
      #   if: always()
      #   run: mvn -ntp serenity:aggregate

      # - name: Build and run ReplaceCssForGitHubActions
      #   run: |
      #     javac src/test/java/eu/europa/eudi/utils/factory/ReplaceCssForGitHubActions.java
      #     java -cp src/test/java eu.europa.eudi.utils.factory.ReplaceCssForGitHubActions

      # - name: Upload Serenity Report
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: serenity-report
      #     path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/target/site/reports/*

      # - name: Upload screenshots
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: test-screenshots
      #     path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/screenshots/*

      # - name: Upload recordings
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: test-recordings
      #     path: /screenshots/*

      # - name: Upload Android UI Logs
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: android-logs-ui
      #     path: src/test/resources/features/android/regressionTests/logs/ui/*.txt

      # - name: Upload iOS UI Logs
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ios-logs-ui
      #     path: src/test/resources/features/ios/regressionTests/logs/ui/*.txt

      # - name: Upload android API Logs
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: android-logs-api
      #     path: src/test/resources/features/android/regressionTests/logs/api/*.txt

      # - name: Upload iOS API Logs
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ios-logs-api
      #     path: src/test/resources/features/ios/regressionTests/logs/api/*.txt

