#name: automation_with_emulator - 2
## on push we will trigger our code
#on:
#    workflow_dispatch:
#    push:
#jobs:
#  build:
#    runs-on: macos-13
#    steps:
#      - uses: actions/checkout@v4 #checkout the code
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          java-version: 17
#          distribution: 'oracle'
#
#      - name: Set up Node JS 18.16.1
#        uses: actions/setup-node@v4
#        with:
#          node-version: '18.16.1'
#
#      - name: Install appium
#        run: npm install -g appium
#
#      - name: Check appium installation
#        run: appium -v
#
#      - name: Install appium automator
#        run: appium driver install uiautomator2
#
#      - name: Update  appium automator
#        run: appium driver update uiautomator2
#
#      - name: Start appium
#        run: appium server --address 127.0.0.1 --port 4723 --use-drivers uiautomator2 --base-path /wd/hub --allow-insecure adb_shell &
#
#      - name: Wait for Appium to start
#        run: sleep 60 # Adjust the time as needed
#
#      - name: Print Appium status
#        run: curl http://127.0.0.1:4723/wd/hub/status
#
##      - name: Enable KVM group perms
##        run: |
##            echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
##            sudo udevadm control --reload-rules
##            sudo udevadm trigger --name-match=kvm
#
#      - name: Set up Android SDK
#        uses: android-actions/setup-android@v4
#
#      - name: Restart ADB server
#        run: |
#          adb kill-server
#          adb start-server
#          adb devices
#        continue-on-error: true
#
#      - name: Run Ui Tests
#        uses: reactivecircus/android-emulator-runner@v2 # install and create the Emulator
#        with:
#          api-level: 33
#          target: google_apis
#          arch: x86_64
#          avd-name: Pixel_6_API_33
#          disable-animations: true
#          emulator-options: -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
#          script: |
#            sleep 180 && mvn verify --file pom.xml -Dappium.hub=http://127.0.0.1:4723/wd/hub -Dwebdriver.driver=appium -Dappium.platformName=Android -Dappium.deviceName="Pixel_6_API_33_1" -Dappium.androidInstallTimeout=180000 -Dcucumber.filter.tags='@automated and @ANDROID and @US_COSD'
#
#      - name: Produce report
#        run: mvn serenity:aggregate
#
#      - name: Upload screenshots
#        uses: actions/upload-artifact@v4
#        with:
#          name: test-screenshots
#          path: artifacts/screenshots
#
#      - name: Upload report
#        uses: actions/upload-artifact@v4
#        with:
#          name: report
#          path: target/site


name: automation_with_emulator - 2 - Standard

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: macos-13-large

    steps:
      - uses: actions/checkout@v4 # Checkout the code

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'oracle'

      - name: Set up Node JS 16.20.2
        uses: actions/setup-node@v4
        with:
          # node-version: '18.16.1'
          node-version: '16.20.2'

      - name: Install Appium
        run: npm install -g appium

      - name: Check Appium installation
        run: appium -v

      - name: Install Appium Automator
        run: appium driver install uiautomator2

      - name: Update Appium Automator
        run: appium driver update uiautomator2

      - name: Start Appium
        run: appium server --address 127.0.0.1 --port 4723 --use-drivers uiautomator2 --base-path /wd/hub --allow-insecure adb_shell &

      - name: Wait for Appium to start
        run: sleep 15 # Adjust the time as needed

      - name: Print Appium status
        run: curl http://127.0.0.1:4723/wd/hub/status

      # - name: Set up Android SDK
      #   uses: android-actions/setup-android@v3 # latest
      #   with:
      #     # Hide Licenses for easier logging
      #     log-accepted-android-sdk-licenses: false

      - name: Restart ADB server
        run: |
          adb kill-server
          adb start-server
          adb devices
        continue-on-error: true
          
      - name: Monitoring Start (Human Readable)
        run: |
          echo "Starting monitoring in the background..."
          echo "---- $(date) ----" >> usage_report.txt
          echo "Chipset Model:" >> usage_report.txt
          system_profiler SPDisplaysDataType | grep "Chipset Model" >> usage_report.txt
          system_profiler SPHardwareDataType | grep "Total Number of Cores" >> usage_report.txt
          echo "" >> usage_report.txt
          while true; do
            echo "---- $(date) ----" >> usage_report.txt
            echo "------ CPU & Memory Usage ------" >> usage_report.txt
            top -l 1 | head -n 25 >> usage_report.txt
            echo "" >> usage_report.txt
            echo "------ Disk Usage ------" >> usage_report.txt
            df -h >> usage_report.txt
            echo "" >> usage_report.txt
            echo "" >> usage_report.txt
            echo "------ Memory Usage ------" >> usage_report.txt
            vm_stat | awk '
            /Pages free/ { free=$3 * 4096 / 1024 / 1024 }
            /Pages active/ { active=$3 * 4096 / 1024 / 1024 }
            /Pages inactive/ { inactive=$3 * 4096 / 1024 / 1024 }
            /Pages speculative/ { speculative=$3 * 4096 / 1024 / 1024 }
            END {
              printf "  Free: %.2f MB\n  Active: %.2f MB\n  Inactive: %.2f MB\n  Speculative: %.2f MB\n", free, active, inactive, speculative
            }' >> usage_report.txt
            echo "" >> usage_report.txt
            sleep 10
          done & echo $! > monitor_pid.txt

      - name: Run UI Tests
        uses: reactivecircus/android-emulator-runner@v2 # Install and create the Emulator
        with:
          api-level: 33
          # api-level: 34
          target: google_apis
          # target: google_apis_playstore
          arch: x86_64
          avd-name: Pixel_6_API_33
          profile:  pixel_6
          # avd-name: Pixel_2_API_34
          # profile:  pixel_2
          # added ram value
          ram-size: 6144M
          cores: 6
          # heap-size: 512M
          heap-size: 1024M
          disk-size: 16G
          disable-animations: true
          emulator-build: 11772612 # emulator version control
          emulator-boot-timeout: 1500  # Increased timeout from 600 seconds (10 minutes) to 25 minutes
          emulator-port: 5556
          # emulator-port: 5554
          emulator-options: -gpu swiftshader_indirect -no-snapshot -no-audio -no-boot-anim -no-window -memory 6144
          script: |
            echo "Waiting for Android Emulator..."
            adb wait-for-device
            adb devices
            while [ "$(adb shell getprop sys.boot_completed)" != "1" ]; do echo "Waiting for Android to fully boot..."; sleep 10; done
            echo "Android has booted!"
            echo "***************"
            echo "Checking cmd setting service availabilty..."
            if ! adb shell service list | grep -q 'settings'; then echo "Settings service is not yet available, waiting a bit longer..."; sleep 10; fi
            echo "Starting maven verify..."
            sleep 180 && mvn clean verify -Dcucumber.filter.tags='@automated and @ANDROID and @US_VP_TC_01'
            sleep 180 && mvn clean verify -Dcucumber.filter.tags='@automated and @ANDROID and @US_VP_TC_02'
            sleep 180 && mvn clean verify -Dcucumber.filter.tags='@automated and @ANDROID and @US_VP_TC_03'
            adb logcat -d > logcat_output.txt
            

      - name: Stop Monitoring
        if: always()
        run: |
          echo "Stopping monitoring..."
          kill $(cat monitor_pid.txt)
          rm monitor_pid.txt

      - name: Compress Logcat Output
        if: always()
        run: zip logcat_output.zip logcat_output.txt

      - name: Upload Logcat Output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: logcat-output
          path: logcat_output.zip

      - name: Upload Usage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: usage-report
          path: usage_report.txt
 
 
      - name: Produce Serenity report
        #if: always()
        run: mvn serenity:aggregate

      - name: Upload Serenity Report
        #if: always()
        uses: actions/upload-artifact@v4
        with:
          name: serenity-report
          path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/target/site/reports/*

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-screenshots
          path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/screenshots/*

      - name: Upload recordings
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-recordings
          path: target/recordings/*

