name: automation_with_emulator - UBUNTU

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 # Checkout the code

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'oracle'

      - name: Set up Node JS 16.20.2
        uses: actions/setup-node@v4
        with:
          # node-version: '18.16.1'
          node-version: '16.20.2'

      - name: Install Appium
        run: npm install -g appium

      - name: Check Appium installation
        run: appium -v

      - name: Install Appium Automator
        run: appium driver install uiautomator2

      - name: Update Appium Automator
        run: appium driver update uiautomator2

      - name: Start Appium
        run: appium server --address 127.0.0.1 --port 4723 --use-drivers uiautomator2 --base-path /wd/hub --allow-insecure adb_shell &

      - name: Wait for Appium to start
        run: sleep 20 # Adjust the time as needed

      - name: Print Appium status
        run: curl http://127.0.0.1:4723/wd/hub/status

      - name: install Libncurses5 (ADB dependency for Linux)
        run: sudo apt install libncurses5

      - name: Restart ADB server
        run: |
          adb kill-server
          adb start-server
          adb devices
        continue-on-error: true
          
      - name: Monitoring Start (Human Readable)
        run: |
          echo "Starting monitoring in the background..."
          echo "---- $(date) ----" >> usage_report.txt

          # Get chipset model
          echo "Chipset Model:" >> usage_report.txt
          sudo lshw -class display | grep "product" >> usage_report.txt
          echo "" >> usage_report.txt

          # Run monitoring loop background
          while true; do
            echo "---- $(date) ----" >> usage_report.txt

            # CPU & Memory Usage
            echo "------ CPU & Memory Usage ------" >> usage_report.txt
            top -b -n 1 | head -n 10 >> usage_report.txt
            echo "" >> usage_report.txt

            # Disk Usage
            echo "------ Disk Usage ------" >> usage_report.txt
            df -h >> usage_report.txt
            echo "" >> usage_report.txt

            # Memory Usage
            echo "------ Memory Usage ------" >> usage_report.txt
            vmstat -s | awk '
            /free memory/ { free=$1 }
            /active memory/ { active=$1 }
            /inactive memory/ { inactive=$1 }
            /used memory/ { used=$1 }
            END {
              printf "  Free: %.2f MB\n  Active: %.2f MB\n  Inactive: %.2f MB\n  Used: %.2f MB\n", free/1024, active/1024, inactive/1024, used/1024
            }' >> usage_report.txt
            echo "" >> usage_report.txt

            sleep 15
          done & echo $! > monitor_pid.txt


      - name: Enable KVM group perms 
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm


      - name: Run UI Tests
        uses: reactivecircus/android-emulator-runner@v2 # Install and create the Emulator
        with:
          api-level: 34
          target: google_apis_playstore
          arch: x86_64
          avd-name: Pixel_6a_API_34
          profile:  pixel_6a
          # added ram value
          ram-size: 8192M
          cores: 6
          heap-size: 2048M
          disk-size: 16G
          disable-animations: true
          emulator-build: 11772612 # emulator version control
          emulator-boot-timeout: 1500  # Increased timeout from 600 seconds (10 minutes) to 25 minutes
          emulator-port: 5554
          emulator-options: -gpu swiftshader_indirect -no-snapshot -no-audio -no-boot-anim -no-window -memory 8192
          script: |
            echo "Waiting for Android Emulator..."
            adb wait-for-device
            adb devices
            while [ "$(adb shell getprop sys.boot_completed)" != "1" ]; do echo "Waiting for Android to fully boot..."; sleep 10; done
            echo "Android has booted!"
            echo "***************"
            echo "Checking cmd setting service availabilty..."
            if ! adb shell service list | grep -q 'settings'; then echo "Settings service is not yet available, waiting a bit longer..."; sleep 10; fi
            echo "Starting Logcat..."
            adb logcat -d > logcat_output.txt
            echo "Starting maven verify..."
            sleep 180 && mvn clean verify -Dcucumber.filter.tags='@automated and @ANDROID and @US_VP_TC_01'


      - name: Stop Monitoring
        if: always()
        run: |
          echo "Stopping monitoring..."
          kill $(cat monitor_pid.txt)
          rm monitor_pid.txt

      - name: Upload Usage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: usage-report
          path: usage_report.txt
 
 
      # - name: Produce Serenity report
      #   if: always()
      #   run: mvn serenity:aggregate

      # - name: Upload Serenity Report
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: serenity-report
      #     path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/target/site/reports/*

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-screenshots
          path: /Users/runner/work/eudi-doc-testing-application-internal/eudi-doc-testing-application-internal/screenshots/*

      - name: Upload recordings
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-recordings
          path: target/recordings/*

