name: Ui Workflow
on: [push]
jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout main repository
        uses: actions/checkout@v3
        with:
          ref: develop

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'oracle'

      - name: Set up Node JS 18.16.1
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.1'

      - name: Run Ui Tests
        run: |
         cd eudi-doc-testing-application-internal
         ls -l
         mvn clean verify -Dcucumber.filter.tags="@manual"

      - name: Produce report
        run: mvn serenity:aggregate

      - name: Upload screenshots
        uses: actions/upload-artifact@v2
        with:
          name: test-screenshots
          path: artifacts/screenshots

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: report
          path: target/site
