name: Merge Android and iOS Serenity Reports

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Android Automation Tests Execution", "iOS Automation Tests Execution"]
    types:
      - completed

jobs:
  merge-reports:
    runs-on: ubuntu-latest

    steps:
      - name: Download Android Serenity Report
        uses: actions/download-artifact@v4
        with:
          name: android-serenity-report
          path: target/site/reports/*

      - name: Download iOS Serenity Report
        uses: actions/download-artifact@v4
        with:
          name: iOS-serenity-report
          path: target/site/reports/*


      # Merge the reports (example using serenity-cli)
      - name: Merge Serenity Reports
        run: |
          mkdir merged-report
          # If using serenity-cli:
          # serenity merge android-report ios-report -o merged-report
          # Or if you have a custom script:
          # python merge_serenity.py android-report ios-report merged-report

      - name: Upload Merged Serenity Report
        uses: actions/upload-artifact@v4
        with:
          name: merged-serenity-report
          path: target/site/reports/*
